/* --リセットCSS-- */
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
-webkit-appearance: none;
border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/* ボディー */
body {
  width: 100%;
  height: auto;
  font-size: 16px;
}


/* ヘッダー */
header {
  background: center/cover url(../img/header.png);
  width: 100%;
  height: 620px;
  color: #fff;
  margin: 0 auto;
  position: relative;
}

.content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.header-nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 64px;
}

.content {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#header {
  width: 100%;
}

.position_change {
  position: fixed;
  top: 0;
  z-index: 99;
}

.color_change {
  background: #fff;
  color: #2b2b2b;
  border-bottom: 1px solid #A0A0A0;
  box-shadow: 0 2px 4px rgb(0, 0, 0 / 10%);
}

.bar-color {
  background-color: #2b2b2b;
}

h1#header-title {
  font-size: 36px;
  line-height: 64px;
}


div.sp-menu {
  width: 32px;
  height: 64px;
  cursor: pointer;
  position: relative;
}


span {
  display: block;
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  transition: all .5s ease;
}

.bar1 {
  top: 22px;
}
.bar2 {
  top: 31px;
}
.bar3 {
  top: 40px;
}

/*
  ハンバーガーメニューがクリックされたら
  上の線を真ん中に移動させて45℃回転
*/
.bar1.open {
  top: 31px;
  transform: rotate(45deg);
}
/*
  ハンバーガーメニューがクリックされたら
  真ん中の線は透明化して見えないようにする
*/
.bar2.open { opacity: 0; }

/*
  ハンバーガーメニューがクリックされたら
  下の線は真ん中に移動させて-45℃回転
*/
.bar3.open {
  top: 31px;
  transform: rotate(-45deg);
}

.overlay {
  position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    background: rgba(255, 255, 255, .9);
    transition: all .3s;
}

.overlay.show {
    height: calc(100vh - 104px);
}


.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  width: 100%;
  height: 108px;
  text-align: center;
  line-height: 108px;
  border-bottom: 1px solid #A0A0A0;
  font-size: 18px;
}

.overlay li:first-child {
  border-top: 1px solid #A0A0A0;
}

.overlay ul li a { 
  text-decoration: none;
  color: #000;
}




h2#main-top-title {
  font-size: 120px;
  padding-top: 240px;
  text-align: center;
}

p#main-bottom-title {
  margin-block-start: 1em;
  margin-block-end: 1em;
  height: 16px;
  line-height: 16px;
  text-align: center;
}

p#main-bottom-title::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  vertical-align: middle;
}

p#main-bottom-title::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  vertical-align: middle;
}

/* メイン */

h2.main-title {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 36px;
  line-height: 51px;
  text-align: center;
}

h2.main-title::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 40px;
  height: 1px;
  background: #2b2b2b;
  transform: translateX(-50%);
}


p.main-text {
  text-align: center;
  margin: 0 auto 40px;
  color: #2b2b2b;
  letter-spacing: 1.4px;
  line-height: 1.8;
}

.concept-wrapper {
  padding: 80px 0;
  background: linear-gradient(#fff 70%, #ededed 30%);
}

#concept-image {
  width: 960px;
  height: 400px;
}

.work-wrapper {
  padding-top: 80px;
}

.work-contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 1680px;
}

.work-content {
  width: 420px;
  padding-bottom: 80px;
  text-align: left;
  line-height: 1.8;
}

.work-content:nth-of-type(1) {
  order: 1;
}
.work-content:nth-of-type(2) {
  order: 3;
  margin-top: 120px;
}
.work-content:nth-of-type(3) {
  order: 2;
}
.work-content:nth-of-type(4) {
  order: 4;
}

.work-content-image {
  width: 100%;
  margin-bottom: 16px;
}

h3.work-type-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 43px;
}

p.work-type-text {
  letter-spacing: 1.5px;
}



.florist-wrapper {
  padding-top: 80px;
  background: linear-gradient(#ededed 60%, #fff 40%);
}

#florist-title {
  margin-top: 0;
}

.florist-persons {
  display: flex;
  justify-content: space-between;
}

.florist-person {
  width: calc((100% / 3) - 20px);
  padding-bottom: 40px;
}

.shop-information-wrapper {
  padding: 80px 0 120px;
}

div#shop-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#shop-information img {
  width: 50%;
}


table {
  width: 45%;
  border-collapse: separate;
  border-spacing: 16px;
  text-align: left;
  letter-spacing: 1.5px;
  line-height: 2;
}

tbody {
  vertical-align: inherit;
}


th {
  width: 25%;
  font-weight: normal;
  border-right: 1px solid #A0A0A0;
}


.contact-wrapper {
  background: center, linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)),  url(../img/contact_us.png);
  background-size: cover;
  width: 100%;
  height: 450px;
}

.contact-wrapper .content-wrapper {
  text-align: center;
  padding-top: 40px;
}

.btn-contact {
  position: relative;
  display: inline-block;
  width: 360px;
  padding-left: 40px;
  height: 80px;
  line-height: 80px;
  letter-spacing: 2px;
  border: 1px solid #a0a0a0;
  background: #fff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #2b2b2b;
}

.btn-contact::before {
  top: 30px;
  left: 85px;
  width: 30px;
  height: 20px;
  border: 1px solid #2b2b2b;
  content: '';
  position: absolute;
  border-radius: 2px;
}

.btn-contact::after {
  top: 21px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-right: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  transform: rotate(45deg);
  content: '';
  position: absolute;
  border-radius: 2px;
}
/* フッター */

footer {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #2b2b2b;
}

/* mediaレイアウト */

@media (max-width: 850px) {
  .work-wrapper {
    padding: 40px 0 24px;
  }
  
  .work-type {
    overflow-x: auto;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
  }

  .work-contents {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }
  
  
  
  .work-content {
    width: 80vw;
    padding-bottom: 40px;
  }
  
  .work-content:nth-of-type(2) {
    margin-top: 0;
  }
  
  .work-content:not(:last-of-type) {
    margin-right: 24px;
  }
  
  .work-content-image {
    height: 200px;
    margin-bottom: 0;
    object-fit: cover;
  }

  .shop-information-wrapper {
    padding: 40px 0;
  }

  div#shop-information {
    display: inline;
  }

  div#shop-information img {
    width: 100%;
  }

  table {
    width: 100%;
    margin-left: 0;
  }


}

@media (max-width: 670px) {
  body {
    font-size: 14px;
  }
  
  header {
    height: 355px;
    padding-top: 0;
    background: center/cover url(../img/header.png) 50%;
  }
  
  .header-nav {
    position: fixed;
    top: 0;
    z-index: 100;
  }
  
  h1#header-title {
    font-size: 24px;
  }
  
  .content-wrapper,
  .content {
    width: calc(100% - 32px);
    margin: 0 auto;
  }
  
  h2#main-top-title {
    padding-top: 120px;
    font-size: 64px;
  }
  
  p#main-bottom-title {
    word-spacing: 4px;
  }
  
  .concept-wrapper {
    padding: 40px 0;
    background: linear-gradient(#fff 75%, #ededed 25%);
  }
  
  h2.main-title {
    font-size: 28px;
  }
  
  p.main-text {
    text-align: left;
    margin-bottom: 32px;
  }
  
  .content-wrapper p.main-text br {
    display: none;
  }
  
  
  
  .florist-wrapper {
    padding: 40px 0;
    background: #ededed;
  }
  
  .florist-persons-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  
  .florist-persons {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }
  
  .florist-person {
    width: 80vw;
  }
  
  .florist-person:not(:last-of-type) {
    margin-right: 24px;
  }
  
  .florist-person-image {
    width: 100%;
  }
  
.contact-wrapper .content-wrapper p.main-text br {
  display: block;
}
.btn-contact {
  width: 300px;
  padding-left: 50px;
}

}